.contenedorPadre {
    width: 800px;
    padding: 20px;
    margin: 15px  auto;
}


.contenedorPadre  form {
    padding:15px ;
    border: black  solid  3px;
    margin-bottom: 15px;
}

.contenedorPadre  form input {
    display: block;
    padding: 15px;
    margin-bottom: 15px;
}